<div>
    <table id="help-table" border="2" class="table table-striped table-hover">
        <tbody>
        	<tr><td>You can rate ANYTHING you want</td></tr>
            <tr><td>You can rate ANYONE you want</td></tr>
            <tr><td>You can rate anything or anyone as many times as you want</td></tr>
            <tr><td> </td></tr>
            <tr><td>If you see an item you want to rate while browsing, just click on it ...</td></tr>
            <tr><td>The Rate It! page will load with the type and name filled in.</td></tr>
            <tr><td>Select your stars, and Submit</td></tr>
            <tr><td> </td></tr>
            <tr><td>The default Browse Ratings view shows a random selection of some of the most recently rated items</td></tr>
            <tr><td> </td></tr>
            <tr><td>You can use Preset Searches by selecting their radio button and clicking 'Search'</td></tr>
            <tr><td> </td></tr>
            <tr><td>Or you can use the Filters to make your own search</td></tr>
            <tr><td>Select the Use Filters radio button, then add or more filters</td></tr>
            <tr><td>Select the "ratedType" filter, and type "Person", "Product", "Business", "Place" or "Other" into the value field</td></tr>
            <tr><td>If you select the "sortBy" filter, type "High", "Low", "Name" or "Num" into the value field</td></tr>
            <tr><td>If you select the "limit" filter, type a number into the value field to restrict the number of results displayed (or 0 to show all)</td></tr>
            <tr><td>You can chain filters together to form more complex searches</td></tr>
            <tr><td>For example, "ratedName > Baa" plus "ratedName < Bac" plus "ratedType = Product" plus "sortBy = Name"</td></tr>
            <tr><td>In cases of filter conflicts, the last one added wins</td></tr>
        </tr>
        </tbody>
   </table>
 </div>
